mixin fb-post(post)
  #fb-post.post-container
    .post
      .header
        .profile-photo
        .meta
          h3#post-page.reveal-text(data-default='Untitled Page') Untitled Page
          p#post-timestamp
            | 7hrs · 
            i.public
      .body
        p#post-body Loading...
