mixin likert-scale()
  .likert-scale
    .likert-reaction(data-reaction='vds')
      .content
        //- .icon.very-dissatisfied
        h3 Strongly disapprove
    .likert-reaction(data-reaction='ds')
      .content
        //- .icon.dissatisfied
        h3 Disapprove
    .likert-reaction(data-reaction='n')
      .content
        //- .icon.neutral
        h3 Neutral
    .likert-reaction(data-reaction='s')
      .content
        //- .icon.satisfied
        h3 Approve
    .likert-reaction(data-reaction='vs')
      .content
        //- .icon.very-satisfied
        h3 Strongly approve
