mixin test-tabs()
  #test-tabs.tabs-container
    ul.tabs-headers
      li.ui-tabs-active
        a(href='#tabs-1') Overview
      li
        a(href='#tabs-2') Alignment Graph
      li
        a(href='#tabs-3') Explanation
    #tabs-1
