table {
  display: table;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 13px;

  tr {
    border-bottom: 1px solid #e5e5e5;

    &:nth-child(even) {
      background-color: rgba(#F0F0F0, 0.3);
    }

    &:last-child {
      border-bottom: none;
    }

    & > th {
      border-bottom: 1px solid #e5e5e5;
    }

    th {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      text-align: left;
      padding: 0 0 4px 0;
      color: #339c9e;
    }

    td {
      padding: 8px 0;
    }

    td, th {
      padding-left: 8px;
    }

    a {
      color: black;
      text-decoration-color: black;
    }
  }
}

table.definitions {
  margin: 48px 0 32px 0;

  table {
    table-layout: fixed;
    margin-top: 24px;
    font-size: 11px;

    th {
      font-size: 11px;
    }

    tr {
      td {
        padding: 4px 12px;
      }
    }
  }

  tr {
    &:nth-child(even) {
      background-color: white;
    }
  }

  td {
    line-height: 18px;
    vertical-align: top;
    padding: 14px 8px;

    span {
      color: #4B4F55;
    }

    em {
      font-weight: 700;
    }

    .mathjax {
      font-size: 100%;
    }

    &:first-of-type {
      line-height: 20px;
      width: 1px;
      white-space: nowrap;
      padding-right: 12px;
    }
  }
}
