extends ./includes/layout.pug

block vars
  - path = ''

block styles

block content
    main
      .container
        include ./index/intro.pug
        include ./index/methodology.pug

block scripts
  script(src='./static/js/test.js')
