extends ./includes/layout.pug

include ./includes/fb-post.pug
include ./includes/likert-scale.pug
include ./includes/test-tabs.pug

block vars
  - path = 'Test'

block styles
  link(rel='stylesheet', href='/static/assets/styles/test.css')

block content
  .test-container
    header
      nav
        ul
          li About
          li Polideo
          li Contact
    main
      .container
        div.slide.intro-slide.current
          h2 Facebook&rsquo;s algorithms know your political ideology and soon we will too.
          a(class='button' id='start') Prove it.
          h5 Welcome to Polideo, a platform where you can visually see what impact your interaction on Facebook could have on your perceived political ideology.
        each post, index in posts
          if index = 0
            h2 If this post came up in your newsfeed, how would you feel?
          div.slide.post-slide
            +fb-post(post)
            +likert-scale
        div.slide.conclusion-slide
          h2 According to our calculations, you're #[b#political-ideology far left].
          h5 Welcome to Polideo, a platform where you can visually see what impact your interaction on Facebook could have on your perceived political ideology.
          +test-tabs

    footer
      h5 
      .bar
        .fill

block scripts
  script(src='./static/js/test.js')
