section
  h2 Introduction
  p
    | Welcome to 
    em Polideo
    | , a platform where you can visually see what impact your 
    b likes
    | , 
    b comments
    | , and 
    b shares
    |  on Facebook could have on your perceived political ideology.
  p
    | Think of this site as a sort of Facebook algorithm simulation. As per 
    a(href='#methodology') our methodology below
    | , 
    em Polideo
    |  uses a simple algorithm to score your political ideology based upon your interactions with anonymous Facebook posts.
  p
    b Like
    | , 
    b comment
    | , 
    b share
    | , or 
    b ignore
    |  the post below to get started.
