div.post {
  background-color: white;
  padding: 14px;
  border: 1px solid #dddfe2;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  font-family: system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Lucida Grande', sans-serif; }

div.post .header .profile-photo {
  vertical-align: middle;
  display: inline-block;
  background-color: #E9EBEE;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #dddfe2;
  margin-right: 6px; }
div.post .header .meta {
  display: inline-block;
  vertical-align: middle; }
  div.post .header .meta h3 {
    font-size: 14px;
    line-height: 19px;
    color: #4267b2;
    font-weight: 600; }
  div.post .header .meta p {
    font-size: 12px;
    color: #616770;
    line-height: 16px;
    font-weight: 400; }
    div.post .header .meta p .public {
      margin-bottom: -2px;
      display: inline-block;
      background-image: url("../images/icons.png");
      background-position: -51px -226px;
      background-size: 64px 464px;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px; }

div.post .body {
  margin-top: 8px;
  padding-bottom: 6px; }
  div.post .body p {
    color: black;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 10px; }
  div.post .body .media {
    box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.05); }
    div.post .body .media:hover {
      cursor: pointer; }
    div.post .body .media .image {
      background-color: #E9EBEE;
      width: 100%;
      min-height: 250px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    div.post .body .media img {
      max-width: 100%;
      margin-bottom: 8px;
      display: block;
      background-color: transparent; }
    div.post .body .media .deck {
      height: auto;
      margin: 10px 12px; }
      div.post .body .media .deck h1 {
        font-family: Georgia, serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 5px;
        max-height: 110px;
        word-wrap: break-word; }
      div.post .body .media .deck p {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        max-height: 80px;
        overflow: hidden; }
      div.post .body .media .deck h6 {
        padding: 18px 0 12px 0;
        color: #606770;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 11px; }

div.post .actions {
  border-top: 1px solid #e5e5e5;
  color: #616770;
  font-size: 13px;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: row; }
  div.post .actions .action {
    flex: 1;
    padding: 6px 0;
    margin: 0 4px; }
    div.post .actions .action:first-child {
      margin-left: 0; }
    div.post .actions .action:last-child {
      margin-right: 0; }
    div.post .actions .action:hover {
      cursor: pointer;
      background-color: #F6F6F7; }
    div.post .actions .action .container {
      margin: 0 auto;
      text-align: center; }
      div.post .actions .action .container h3 {
        display: inline-block;
        vertical-align: middle;
        color: #616770;
        font-size: 13px;
        line-height: 14px;
        font-weight: 600; }

.icon {
  background-image: url("../images/actions-edited.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px; }
  .icon.like {
    background-size: 21px 1121px;
    background-position: 0 -358px; }
  .icon.comment {
    background-size: 21px 1121px;
    background-position: 0 -282px; }
  .icon.share {
    background-size: 21px 1121px;
    background-position: 0 -529px; }
  .icon.ignore {
    background-size: 21px 1121px;
    background-position: 0 -42px; }

@media only screen and (max-width: 460px) {
  div.post .actions {
    flex-wrap: wrap; }
    div.post .actions .action .container h3 {
      display: none; } }

/*# sourceMappingURL=facebook.css.map */
