div.post {
  background-color: white;
  padding: 14px;
  border: 1px solid #dddfe2;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  font-family: system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Lucida Grande', sans-serif; }
  div.post.left {
    background-color: rgba(0, 0, 255, 0.05); }
  div.post.right {
    background-color: rgba(255, 0, 0, 0.05); }

div.post .header .profile-photo {
  vertical-align: middle;
  display: inline-block;
  background-color: #E9EBEE;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #dddfe2;
  margin-right: 6px; }
div.post .header .meta {
  display: inline-block;
  vertical-align: middle; }
  div.post .header .meta h3 {
    font-size: 14px;
    line-height: 19px;
    color: #4267b2;
    font-weight: 600; }
  div.post .header .meta p {
    font-size: 12px;
    color: #616770;
    line-height: 16px;
    font-weight: 400; }
    div.post .header .meta p .public {
      margin-bottom: -2px;
      display: inline-block;
      background-image: url("../images/icons.png");
      background-position: -51px -226px;
      background-size: 64px 464px;
      background-repeat: no-repeat;
      width: 12px;
      height: 12px; }

div.post .body {
  margin-top: 8px;
  padding-bottom: 6px; }
  div.post .body p {
    color: black;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 10px; }
  div.post .body .media {
    box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.05); }
    div.post .body .media:hover {
      cursor: pointer; }
    div.post .body .media .image {
      background-color: #E9EBEE;
      width: 100%;
      min-height: 250px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    div.post .body .media img {
      max-width: 100%;
      margin-bottom: 8px;
      display: block;
      background-color: transparent; }
    div.post .body .media .deck {
      height: auto;
      margin: 10px 12px; }
      div.post .body .media .deck h1 {
        font-family: Georgia, serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 5px;
        max-height: 110px;
        word-wrap: break-word; }
      div.post .body .media .deck p {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        max-height: 80px;
        overflow: hidden; }
      div.post .body .media .deck h6 {
        padding: 18px 0 12px 0;
        color: #606770;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 11px; }

div.post .actions {
  border-top: 1px solid #e5e5e5;
  color: #616770;
  font-size: 13px;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: row; }
  div.post .actions .action {
    flex: 1;
    padding: 6px 0;
    margin: 0 4px; }
    div.post .actions .action:first-child {
      margin-left: 0; }
    div.post .actions .action:last-child {
      margin-right: 0; }
    div.post .actions .action:hover {
      cursor: pointer;
      background-color: #F6F6F7; }
    div.post .actions .action .container {
      margin: 0 auto;
      text-align: center; }
      div.post .actions .action .container h3 {
        display: inline-block;
        vertical-align: middle;
        color: #616770;
        font-size: 13px;
        line-height: 14px;
        font-weight: 600; }

.icon {
  background-image: url("../images/actions-edited.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px; }
  .icon.like {
    background-size: 21px 1121px;
    background-position: 0 -358px; }
  .icon.comment {
    background-size: 21px 1121px;
    background-position: 0 -282px; }
  .icon.share {
    background-size: 21px 1121px;
    background-position: 0 -529px; }
  .icon.ignore {
    background-size: 21px 1121px;
    background-position: 0 -42px; }

@media only screen and (max-width: 460px) {
  div.post .actions {
    flex-wrap: wrap; }
    div.post .actions .action .container h3 {
      display: none; } }
table {
  display: table;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 13px; }
  table tr {
    border-bottom: 1px solid #e5e5e5; }
    table tr:nth-child(even) {
      background-color: rgba(240, 240, 240, 0.5); }
    table tr:last-child {
      border-bottom: none; }
    table tr > th {
      border-bottom: 1px solid #e5e5e5; }
    table tr th {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      text-align: left;
      padding: 0 0 4px 0; }
    table tr td {
      padding: 8px 0; }
    table tr td, table tr th {
      padding-left: 8px; }
    table tr a {
      color: black;
      text-decoration-color: black; }

table.definitions {
  margin: 48px 0 32px 0; }
  table.definitions table {
    table-layout: fixed;
    margin-top: 24px;
    font-size: 11px; }
    table.definitions table th {
      font-size: 11px; }
    table.definitions table tr td {
      padding: 4px 12px; }
  table.definitions tr:nth-child(even) {
    background-color: white; }
  table.definitions th {
    color: #339c9e; }
  table.definitions td {
    line-height: 18px;
    vertical-align: top;
    padding: 14px 8px; }
    table.definitions td span {
      color: #4B4F55; }
    table.definitions td em {
      font-weight: 700; }
    table.definitions td .mathjax {
      font-size: 100%; }
    table.definitions td:first-of-type {
      line-height: 20px;
      width: 1px;
      white-space: nowrap;
      padding-right: 12px; }

* {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

body, html {
  width: 100%;
  height: 100%; }

body {
  font-family: system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Lucida Grande', sans-serif;
  text-align: center;
  padding-top: 44px;
  color: rgba(16, 24, 34, 0.9); }

header {
  background-color: #101822;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
  top: 0; }
  header nav {
    height: 44px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center; }
    header nav h3 {
      line-height: 44px;
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 600;
      text-transform: uppercase; }

.spectrum {
  height: 3px;
  background-image: linear-gradient(-90deg, #ED1D3C 20%, #4C38F7 80%); }

main {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 100px;
  background-color: white; }

.content .container {
  width: 60%;
  margin: 40px auto; }
  .content .container h1 {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 48px;
    margin-bottom: 20px;
    border-bottom: 1px solid black; }
  .content .container h3 {
    line-height: 31px;
    font-size: 20px;
    color: #949494;
    font-weight: 300; }

section:not(.post) {
  display: block;
  text-align: left;
  max-width: 590px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 50px 20px; }
  section:not(.post) h3 {
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 20px;
    color: #101822;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1px; }
  section:not(.post) h4 {
    color: #339c9e;
    font-size: 16px;
    margin: 48px 0 24px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display: block; }
  section:not(.post) p {
    line-height: 24px; }
    section:not(.post) p a {
      text-decoration: none;
      color: inherit;
      text-decoration: underline;
      text-decoration-color: #339c9e; }
    section:not(.post) p b {
      color: #339c9e;
      font-weight: 500; }
  section:not(.post) p + p {
    margin-top: 10px; }

section.post {
  background-color: #F5F5F5;
  padding: 20px;
  margin: 0 auto 20px auto;
  max-width: 500px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }

section.record .graph {
  z-index: 10;
  height: 300px;
  margin-bottom: 20px; }

section ul {
  list-style-type: square;
  padding-left: 32px; }
  section ul li {
    margin-bottom: 12px; }

.mathjax {
  font-size: 80%; }

.bottom-bar {
  width: 100%;
  height: 20px;
  bottom: 0;
  position: fixed;
  z-index: 999; }

/*# sourceMappingURL=index.css.map */
