mixin likert-scale()
  .likert-scale
    .likert-reaction(data-reaction='vds')
      .content
        h3 Strongly disapprove
    .likert-reaction(data-reaction='ds')
      .content
        h3 Disapprove
    .likert-reaction(data-reaction='n')
      .content
        h3 Neutral
    .likert-reaction(data-reaction='s')
      .content
        h3 Approve
    .likert-reaction(data-reaction='vs')
      .content
        h3 Strongly approve
